/* Basic layout of site body */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fffaf5;
}

header {
    text-align: center;
    padding: 60px 20px;
    background-color: #fcf8f2;
    border-bottom: 2px solid #e0d5c5;
    position: relative;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin: 0;
    color: #2e1a12;
}

.quote {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.5rem;
    color: #5d4037;
    margin-top: 10px;
}

/*Search-bar*/
.search-container {
    margin: 20px auto;
    padding: 0px;
    max-width: 600px;
    text-align: center;
}

#recipe-search {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#recipe-search:focus {
    border-color: #4677bc;
    outline: none;
}

#search-results {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Burger */
.burger {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 30px;
    cursor: pointer;
    z-index: 1001;
}

.burger span {
    display: block;
    height: 3px;
    background: #5d4037;
    margin: 6px 0;
    transition: 0.3s;
}

/* Animation to X */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Menu */
nav {
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    transition: left 0.3s ease;
    z-index: 1000;
    
    display: flex;
    flex-direction: column;
}

nav.open {
    left: 0;
}

nav ul {
    list-style: none;
    padding: 100px 0 30px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav li {
    padding: 15px 25px;
}

nav li.back-link {
    margin-top: auto;
    border-top: 1px solid #e0d5c5;
    background-color: #fcf8f2;
}

nav a {
    text-decoration: none;
    color: #5d4037;
    font-weight: 500;
}

/* Overlay */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}