/* Basic layout of site body */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fffaf5;
}

header {
    text-align: center;
    padding: 60px 20px;
    background-color: #fcf8f2;
    border-bottom: 2px solid #e0d5c5;
    position: relative;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin: 0;
    color: #2e1a12;
}

/* Style for list of ingredients*/
main ul {
    list-style: none;
    padding-left: 0;
}

main li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

/* Creating checkbox in front of text */
main ul li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 15px;
    flex-shrink: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
}

/* STATE AFTER UN-CHECK */
main ul li.done {
    color: #a0a0a0;
    text-decoration: line-through;
}

/* Green checkmark */
main ul li.done::before {
    background-color: #4CAF50;
    border-color: #4CAF50;
    background-image: url("../assets/checkmark.svg");
    background-size: 20px;
    border: 2px solid #fff;
}